/* style by Haushila */
.privacy
{
	text-decoration: none;
	color: rgb(1,138,26);
	font-size: 20px;
}
.shift
{
	padding-left: 200px;
}
.shift-vertical-align{
	position: relative;
	top: 200px;
}
a.privacy:hover{
	color:rgba(138,23,1,35);
	font-size: 22px;
	text-decoration:none;
}
.jumbotron
{
	background: rgba(2,117,216,0.05);
	padding-top: 30px;
}
.btn-group{
	width:220px;
}
.block{
	width:300px;
	height: 200px;
}
.wrapper{
	display: flex;
	position: relative;
}
.wrapper .sidebar{
	height:100%;
	background: #4b4276;
	padding: 30px 0;
}
.wrapper .sidebar ul li{
	padding: 15px;
	list-style-type: none;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
	
}
.wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
}
.wrapper .sidebar ul li:hover{
	background: #594f8d;
}
.wrapper .sidebar ul li:hover a{
	color: #fff;
}
.wrapper .sidebar ul li a:hover{
	text-decoration: none;
}


/* style by Abhishek singh */

body {
  margin: 0;
  max-width: 100vw;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-position-x: center;
  //overflow-x: hidden;
}

.modal-login {
  max-width: 320px;
}
.modal-login .modal-content {
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
      position: relative;
  justify-content: center;
      background: #f2f2f2;
}
  .modal-login .modal-body {
      padding: 30px;
  }
  .modal-login .modal-footer {
      background: #f2f2f2;
  }
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
  .modal-login label {
      font-weight: normal;
      font-size: 13px;
  }
.modal-login .form-control, .modal-login .btn {
  min-height: 38px;
  border-radius: 2px; 
}
.modal-login .hint-text {
  text-align: center;
}
.modal-login .close {
      position: absolute;
  top: 15px;
  right: 15px;
}
  .modal-login .checkbox-inline {
      margin-top: 12px;
  }
  .modal-login input[type="checkbox"]{
      margin-top: 2px;
  }
.modal-login .btn {
      min-width: 100px;
  background: #3498db;
  border: none;
  line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #248bd0;
}
.modal-login .hint-text a {
  color: #999;
}
.trigger-btn {
  display: inline-block;
}




/* homepage */
.row .searchbar{
  display: flex;
}

.row #jobtitle{
  margin-right: 1%;
  margin-left: 10%;
}
.row #joblocation{
  margin-left: 1%;
  margin-right: 10%;
}

.row .searchbar input[type=text]{
  width: 30rem;
  height: 50px;
}

.row button.btn-lg.btn-success{
  display: block;
  margin: 0 auto;
}
.row .searchboxhome{
  margin: 30%  auto 1%;
  width: 35%;
  
}

/* dashboard */
.row{
  margin: 0 !important;
}
body > div.row > div > h3 {
  font-size: 20px;  
  padding: 1em;
  margin: 0;
}
hr{
  margin: 0;
}

div#dashboardlistemployer.col-md-3{
  padding: 40px !important;
}


#dashboardlistemployer > div > div > ul{
  padding: 10px;
}



label {
  display: inline-block;
  margin-bottom: .5rem;
}
/* dashboard */


/* footer */
#wrapper {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -50px; /* the bottom margin is the negative value of the footer's total height */
}

#wrapper:after {
  content: "";
  display: block;
  height: 50px; /* the footer's total height */
}
/* footer */


/* register page  */

/* register page  */
/* CSS by haushila */
#filtersubmit {

  position: relative;
  z-index: 1;
  left: -25px;
  top: 10px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;

}