/* style by Haushila */
.privacy
{
	text-decoration: none;
	color: rgb(1,138,26);
	font-size: 20px;
}
.shift
{
	padding-left: 200px;
}
.shift-vertical-align{
	position: relative;
	top: 200px;
}
a.privacy:hover{
	color:rgba(138,23,1,35);
	font-size: 22px;
	text-decoration:none;
	
}
.jumbotron
{
	background: rgba(2,117,216,0.05);
	padding-top: 30px;
	
}
body{
  background: #4568DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-group{
	width:220px;
}
.block{
	width:300px;
	height: 200px;
}
.wrapper{
	display: flex;
	position: relative;
}
.wrapper .sidebar{
	
	width: 250px;
	height:100%;
	background: #4b4276;
	padding: 30px 0;
}
.wrapper .sidebar ul li{
	padding: 15px;
	list-style-type: none;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
	
}
.wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
}
.wrapper .sidebar ul li:hover{
	background: #594f8d;
}
.wrapper .sidebar ul li:hover a{
	color: #fff;
}
.wrapper .sidebar ul li a:hover{
	text-decoration: none;
}


/* style by Abhishek singh */

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-position-x: center;

}
.searchbar{
  display: flex;
}

#jobtitle{
  margin-right: 1%;
  margin-left: 10%;
}
#joblocation{
  margin-left: 1%;
  margin-right: 10%;
}

.searchbar>input[type=text]{
  width: 30rem;
  height: 50px;
}

button.btn-lg.btn-success{
  display: block;
  margin: 0 auto;
}
.searchboxhome{
  margin: 30%  auto 1%;
  width: 30%;
  
}

.modal-login {
  max-width: 320px;
}
.modal-login .modal-content {
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
      position: relative;
  justify-content: center;
      background: #f2f2f2;
}
  .modal-login .modal-body {
      padding: 30px;
  }
  .modal-login .modal-footer {
      background: #f2f2f2;
  }
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
  .modal-login label {
      font-weight: normal;
      font-size: 13px;
  }
.modal-login .form-control, .modal-login .btn {
  min-height: 38px;
  border-radius: 2px; 
}
.modal-login .hint-text {
  text-align: center;
}
.modal-login .close {
      position: absolute;
  top: 15px;
  right: 15px;
}
  .modal-login .checkbox-inline {
      margin-top: 12px;
  }
  .modal-login input[type="checkbox"]{
      margin-top: 2px;
  }
.modal-login .btn {
      min-width: 100px;
  background: #3498db;
  border: none;
  line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #248bd0;
}
.modal-login .hint-text a {
  color: #999;
}
.trigger-btn {
  display: inline-block;
}
